
.vs/nuevas-tecnologias/v15/.suo
.vs/config/applicationhost.config
.vs/config/applicationhost.config
.vs/nuevas-tecnologias/v15/.suo
.vs/nuevas-tecnologias/v15/.suo
.vs/config/applicationhost.config
.vs/config/applicationhost.config
.vs/nuevas-tecnologias/v15/.suo
*.config
.vs/nuevas-tecnologias/v15/.suo
*.sqlite
.vs/slnx.sqlite
