@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/rutinaIndex.css" rel="stylesheet" />
</head>
<body>
    <h1 align="center">Rutinas</h1>
    <div class="row">
        <div class="col-lg-2">
            <btn class="btn btn-lg btn-success">Crear rutina</btn>
        </div>
    </div>

    <div class="row"id="ejercicios-row">
        <div id="pechoRow">
            <div class="col-lg-4">
                <a href="#">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Hipertrofia</div>
                        <div class="panel-body">Fecha de creación: 04/05/2019</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="#">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Hipertrofia</div>
                        <div class="panel-body">Fecha de creación: 04/05/2019</div>
                    </div>
                </a>

            </div>
            <div class="col-lg-4">
                <a href="#">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Tonifiacion de gluteos</div>
                        <div class="panel-body">Fecha de creación: 04/05/2019</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="#">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Tonifiacion de gluteos</div>
                        <div class="panel-body">Fecha de creación: 04/05/2019</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="#">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Tonifiacion de gluteos</div>
                        <div class="panel-body">Fecha de creación: 04/05/2019</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</body>
