@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/rutinaIndex.css" rel="stylesheet" />
</head>
<body>
    <h1 align="center">Rutinas</h1>
    <div class="row">
        <div class="col-lg-2">
            @Html.ActionLink("Crear rutina", "NuevaRutina", "Routines", new { @class = "btn btn-lg btn-success" })
        </div>
    </div>

    <div class="row"id="ejercicios-row">
        <div id="pechoRow">
            <div class="col-lg-4">
                
                    <div class="panel panel-info">
                        <div class="panel-heading">Hipertrofia</div>
                        <div class="panel-body">Fecha de creación: 04/05/2019</div>
                        <div class="panel-body row">
                            <div class="col-lg-4 col-sm-12" align="center"> @Html.ActionLink("Ver", "VerRutina", "Routines", new { @class = "btn btn-primary" })</div>
                            <div class="col-lg-4 col-sm-12" align="center"> @Html.ActionLink("Editar", "EditarRutina", "Routines", new { @class = "btn btn-primary" })</div>
                            <div class="col-lg-4 col-sm-12" align="center"><btn class="btn btn-danger">Eliminar</btn></div>
                        </div>
                    </div>
               
            </div>
            <div class="col-lg-4">
                <div class="panel panel-info">
                    <div class="panel-heading">Hipertrofia</div>
                    <div class="panel-body">Fecha de creación: 04/05/2019</div>
                    <div class="panel-body row">
                        <div class="col-lg-4"> <btn class="btn btn-primary">Ver </btn></div>
                        <div class="col-lg-4"> <btn class="btn btn-primary">Editar</btn></div>
                        <div class="col-lg-4"><btn class="btn btn-danger">Eliminar</btn></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-info">
                    <div class="panel-heading">Hipertrofia</div>
                    <div class="panel-body">Fecha de creación: 04/05/2019</div>
                    <div class="panel-body row">
                        <div class="col-lg-4"> <btn class="btn btn-primary">Ver </btn></div>
                        <div class="col-lg-4"> <btn class="btn btn-primary">Editar</btn></div>
                        <div class="col-lg-4"><btn class="btn btn-danger">Eliminar</btn></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-info">
                    <div class="panel-heading">Hipertrofia</div>
                    <div class="panel-body">Fecha de creación: 04/05/2019</div>
                    <div class="panel-body row">
                        <div class="col-lg-4"> <btn class="btn btn-primary">Ver </btn></div>
                        <div class="col-lg-4"> <btn class="btn btn-primary">Editar</btn></div>
                        <div class="col-lg-4"><btn class="btn btn-danger">Eliminar</btn></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-info">
                    <div class="panel-heading">Hipertrofia</div>
                    <div class="panel-body">Fecha de creación: 04/05/2019</div>
                    <div class="panel-body row">
                        <div class="col-lg-4"> <btn class="btn btn-primary">Ver </btn></div>
                        <div class="col-lg-4"> <btn class="btn btn-primary">Editar</btn></div>
                        <div class="col-lg-4"><btn class="btn btn-danger">Eliminar</btn></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
