@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    </head>
<body>
    <h1 class="display" align="center">Nueva rutina</h1>
    <form>
        <div class="form-group">
            <label for="titulo">Titulo</label>
            <input type="text" class="form-control" id="titulo" aria-describedby="titulo">
        </div>
        <div class="form-group">
            <btn class="btn btn-danger disabled" id="boton-eliminar-dia">-</btn>
            <btn class="btn btn-success" id="boton-agregar-dia">+</btn>
        </div>
        <div class="from-group">

            <div class="panel-group" id="accordion">
                <div class="panel panel-default" id="dia1">
                    <div class="panel-heading">
                        <div class="panel-title row">
                            <div class="col-lg-1">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Dia 1</a>
                            </div>

                            <div class="col-lg-1 col-lg-offset-9" align="right">
                                <btn class="btn boton-agregar-ejercicio-1 btn-success">Agregar ejercicio</btn>
                            </div>
                        </div>

                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <ol class="list-group">
                            <li class="list-group-item" id="item-1">
                                <div class="panel-body row">
                                    <div class="col-lg-2">
                                        <label for="selectMusc">Músculo:</label>
                                        <select class="form-control" id="selectMusc">
                                            <option value="">Seleccionar músculo</option>
                                            <option value="pecho">Pecho</option>
                                            <option value="espalda">Espalda</option>
                                            <option value="biceps">Biceps</option>
                                            <option value="triceps">Triceps</option>
                                            <option value="piernas">Piernas</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="selectEjer">Ejercicio:</label>
                                        <select class="form-control" id="selectEjer">
                                            <option value="volvo">Volvo</option>
                                            <option value="saab">Saab</option>
                                            <option value="opel">Opel</option>
                                            <option value="audi">Audi</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="inputRepes">Repeticiones:</label>
                                        <input class="form-control" id="inputRepes" type="text" />
                                    </div>

                                    <div class="col-lg-2" align="center">
                                        <btn class="btn btn-danger">Eliminar</btn>
                                    </div>

                                </div>
                            </li>
                        </ol>
                    </div>
                </div>

            </div>


        </div>

        <div align="right">
            <button type="submit" class="btn btn-primary">Finalizar</button>
        </div>
        
        @Html.ActionLink("Regresar", "Index", "Routines", new { @class = "btn btn-lg btn-primary" })
    </form>
    <script src="~/Scripts/nuevaRutina.js"></script>
</body>
