@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Gym Solutions</h1>
    <h2 class="lead">
        Con Gym Solutions podés crear, compartir rutinas y llevar cuenta de tu rendimiento.</h2>
    <h2 class="lead">Te ayudamos a entrenar de manera más eficiente para que te sientas bien y puedas cumplir tus objetivos.</h2>
    @Html.ActionLink("Registrarse", "Index", "Home", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
</div>