@{
    ViewBag.Title = "Exercise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/exercise.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">

        <div class="sidenav">
            <div class="sidenav-content">
                <div>Categorías</div>
                <div class="btn"> <a href="#about">Pecho</a></div>
                <div class="btn">
                    <a href="#services">Espalda</a>
                </div>
                <div class="btn">
                    <a href="#clients">Hombros</a>
                </div>
                <div class="btn">
                    <a href="#contact">Piernas</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5 col-lg-offset-2">
                <h1 class="home-title">Estocadas</h1>
            </div>
        </div>
        <div class="row">
            <div class="container col-md-offset-2 col-lg-5 home-info">
                <div>
                    <img src="~/Resources/Images/estocada-con-desplazamiento.jpg" />
                </div>

                <ul class="lista-ejercicios">
                    <li class="lista-ejercicios-text">Musculo/s: </li>
                    <li class="lista-ejercicios-desc">Piernas</li>
                    <li class="lista-ejercicios-text">Descripción:</li>
                    <li class="lista-ejercicios-desc">Rico ejercicio</li>

                </ul>
            </div>
            <div class="container col-lg-3 home-login">

            </div>
        </div>
    </div>
</body>