@model List<GymSolutions.Models.Categoria>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/ejerciciosIndex.css" rel="stylesheet" />
</head>
<body>
    <h1 align="center">Ejercicios</h1>
    <div class="container">
        @foreach(GymSolutions.Models.Categoria item in Model){
            <div class="row">
                <button type="button" class="btn btn-block btn-info" data-toggle="collapse" data-target="#@item.catNombre Row">@item.catNombre</button>

                <div id="@item.catNombre Row" class="row collapse">
                    <div class="col-lg-3">
                        <a href="#">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Pecho plano</div>
                                <div class="panel-body">Increible ejercicio para fortalecer las tits</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a href="#">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Mariposa</div>
                                <div class="panel-body">Increible ejercicio para fortalecer las tits</div>
                            </div>
                        </a>

                    </div>
                    <div class="col-lg-3">
                        <a href="#">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Barra inclinado</div>
                                <div class="panel-body">Increible ejercicio para fortalecer las tits</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a href="#">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Flexiones</div>
                                <div class="panel-body">Increible ejercicio para fortalecer las tits</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a href="#">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Flexiones</div>
                                <div class="panel-body">Increible ejercicio para fortalecer las tits</div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

        }
    </div>

</body>

